tenancy_ocid     = "ocid1.tenancy.oc1..exampleuniqueid"
user_ocid        = "ocid1.user.oc1..exampleuniqueid"
fingerprint      = "12:34:56:78:90:ab:cd:ef"
private_key_path = "~/.oci/oci_api_key.pem"
region           = "eu-frankfurt-1"
compartment_ocid = "ocid1.compartment.oc1..exampleuniqueid"
github_pat_secret_ocid = "ocid1.vaultsecret.oc1..exampleuniqueid"
